<nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: var(--secondary-bg);">
    <div class="container-fluid">
        <!--        <a class="navbar-brand" href="{{ url_for('home') }}">-->
        <!--            <img width="50" height="50" src="https://res.cloudinary.com/dg1zsnywc/image/upload/v1715782154/Logo2_hknqmb.jpg" alt="" style="border-radius: 50%;">-->
        <!--            <span style="margin-left: 15px; font-size: 24px; font-weight: bold; font-family: 'Roboto', sans-serif; color: #ffffff;">-->
        <!--                Tripple T Hotel-->
        <!--            </span>-->
        <!--        </a>-->
        <a class="navbar-brand" href="{{ url_for('home') }}" style="display: flex; align-items: center;">
            <img width="60" height="60" src="https://res.cloudinary.com/dg1zsnywc/image/upload/v1715782154/Logo2_hknqmb.jpg" alt="" style="border-radius: 50%;">
            <span style="margin-left: 15px; font-size: 24px; font-family: 'title', sans-serif; color: #ffffff; letter-spacing: 1px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
                Tripple T Hotel
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-regular fa-heart"></i> Favorite</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item" >
                    <a id="profile-user" class="nav-link text-warning" href="{{ url_for('personal_page') }}">
                        {% if current_user.avatar %}
                        <img width="25" height="25" src="{{ current_user.avatar }}" alt="current_user.name"
                             style="border-radius: 50%;">
                        {% else %}
                        {% if current_user.gender == True %}
                        <img width="25" height="25"
                             src="https://cdn.pixabay.com/photo/2020/07/14/13/07/icon-5404125_1280.png"
                             alt="{{ current_user.name }}" style="border-radius: 50%;">
                        {% else %}
                        <img width="25" height="25"
                             src="
"
                             alt="{{ current_user.name }}" style="border-radius: 50%;">
                        {% endif %}
                        {% endif %}
                        {{ current_user.username }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sign-out-color" href="{{ url_for('user_signout') }}">
                        <i class="fa fa-sign-out" style="color: gold;"></i> Sign Out
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_register') }}"><i class="fa-regular fa-circle-user"></i>
                        Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_signin') }}"><i class="fa-regular fa-circle-user"></i>
                        Log in</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Menu</a>
                    <ul class="dropdown-menu" style="background-color: var(--secondary-bg);">
                        {% if current_user.role|string == 'UserRole.RECEPTIONIST' %}
                        <li><a class="dropdown-item" href="/renting-room" style="color: var(--primary-text);">Rent</a></li>
                        {% endif %}
                        {% if current_user.role|string == 'UserRole.ADMIN' %}
                        <li><a class="dropdown-item" href="/admin" style="color: var(--primary-text);">Administration
                            view</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
